<!DOCTYPE html>
<html>
<head>
    <title>All Blog Posts| Ravi Vyas </title>
    <meta name="description" content="All Blog Posts By Ravi Vyas">
    <meta property="og:description" content="All Blog Posts By Ravi Vyas">
    <link rel="stylesheet" href="/styles/globals.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://ravivyas.com/posts">
    <meta charset="UTF-8">
    <script async="" src="https://umami.ravivyas.com/script.js" data-website-id="50b4b12b-136c-43fd-9ce3-f363e870995b"></script>
</head>
<body>
    <div class="container">

    {{ template "header" . }}
    {{ template "content" . }}
    {{ template "footer" . }}
    </div>
</body>
</html>
