<!DOCTYPE html>
<html>
<head>
    <title>{{ .FrontMatter.Title }}</title>
    <meta name="og:title" content="{{ .FrontMatter.Title }}">
    {{ with .FrontMatter.Description }}
        <meta name="description" content="{{ . }}">
        <meta property="og:description" content="{{ . }}">
    {{ end }}
    <link rel="stylesheet" href="/styles/globals.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="canonical" href="https://ravivyas.com/{{ .FrontMatter.Slug}}">
    <script async="" src="https://umami.ravivyas.com/script.js" data-website-id="50b4b12b-136c-43fd-9ce3-f363e870995b"></script>
</head>
<body>
    <div class="container">

    {{ template "header" . }}
    {{ template "content" . }}
    {{ template "footer" . }}
    </div>
</body>
</html>
