{{define "content"}}
    <article>
        <h1>Author: {{ .FrontMatter.Author }}</h1>
        <h2>Date: {{ .FrontMatter.PublishDate }}</h2>
        <h3>Tags: {{ range .FrontMatter.Tags }}{{ . }} {{ end }}</h3>
        <div>{{ .Content }}</div>
    </article>
{{end}}