{{define "header"}}
    <header>
        <div class="persona">
            <span class="site-title">
                <a href="/">Ravi Vyas </a>
            </span>
            <span class="site-description">Musings of a Learner</span>
            <div class="nav">
                <strong>&#123;</strong>
                <a class="nav-item" href="/posts/">All Blogs</a> |
                <a class="nav-item" href="/videos/">Videos</a> |
                <a class="nav-item" target="_blank" rel="noopener noreferrer" href="https://multiplelenses.com/">Multiple Lenses</a> |
                <a class="nav-item" target="_blank" rel="noopener noreferrer" href="https://ihatemyspreadsheet.com/"> ❤️ Spreadsheets</a>
                <strong>&#125;</strong>
            </div>
        </div>
    </header>
{{end}}