{{define "header"}}
    <header>
        <div class="persona">
            <span class="site-title">
                <a href="/">Ravi Vyas </a>
            </span>
            <span class="site-description">Musings of a Learner</span>
            <div class="nav">
                <strong>&#123;</strong>
                <a class="nav-item hover-effect" href="/posts/">All Blogs</a> |
                <a class="nav-item hover-effect" href="/videos/">Videos</a> |
                <a class="nav-item hover-effect" target="_blank" rel="noopener" href="https://multiplelenses.com/">Multiple Lenses</a> |
                <a class="nav-item hover-effect" target="_blank" rel="noopener" href="https://atypicalpm.com/"> AtypicalPM</a>
                <a class="nav-item hover-effect" target="_blank" rel="noopener" href="https://marketplace.visualstudio.com/items?itemName=RaviVyas.dailynotes-panel"> DailyNotes</a>
                <strong>&#125;</strong>
            </div>
        </div>
    </header>
{{end}}